.logo-gray {
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

.logo-gray:hover {
    filter: grayscale(25%);
    transition: all .5s ease-in-out;
}